*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e1b4b, #312e81);
    color: white;
    padding: 40px;
}

/* HEADER */

header{
    text-align: center;
    margin-bottom: 50px;
}

header h1{
    font-size: 3rem;
    margin-bottom: 10px;

    background: linear-gradient(to right, #c084fc, #60a5fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p{
    color: #cbd5e1;
    font-size: 1.1rem;
}

/* CONTENEDOR */

.contenedor-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

/* CARD */

.card{
    background: rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.1);

    backdrop-filter: blur(12px);

    border-radius: 20px;

    padding: 25px;

    transition: 0.4s;

    box-shadow:
        0px 0px 20px rgba(139,92,246,0.2),
        0px 0px 40px rgba(59,130,246,0.1);
}

.card:hover{
    transform: translateY(-10px) scale(1.03);

    box-shadow:
        0px 0px 30px rgba(168,85,247,0.5),
        0px 0px 50px rgba(96,165,250,0.3);
}

/* ID */

.id-libro{
    display: inline-block;

    background: linear-gradient(to right, #8b5cf6, #3b82f6);

    padding: 6px 12px;

    border-radius: 20px;

    font-size: 0.8rem;

    margin-bottom: 15px;
}

/* TITULO */

.card h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ffffff;
}

/* INFORMACION */

.info{
    margin-bottom: 10px;
    color: #dbeafe;
}

.info span{
    font-weight: bold;
    color: #c084fc;
}

/* PRECIO */

.precio{
    margin-top: 20px;

    font-size: 1.3rem;

    font-weight: bold;

    color: #60a5fa;
}